:host {
  max-width: 400px;
  width: 90%;
  height: 80%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  h2 {
    width: 75%;
    align-self: center;
    text-align: center;
    flex: 2 1 0;
  }

  .cardDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex: 10 1 0;
  }
  .buttonDiv {
    flex: 2 1 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    button {
      height: 50%;
      width: 90%;
      border: none;
      background-color: #ae423a;
      color: #fff;
      border-radius: 15px;
      font-size: 1.2em;
    }
  }
}
